<!-- Navbar -->
<nav class="navbar navbar-light">

  <!-- Breadcrumbs -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><LinkTo @route="index" class="waves-effect">HOME</LinkTo></li>
     <li class="breadcrumb-item"><LinkTo @route="item" @model="1" class="waves-effect">Product1</LinkTo></li>
     <li class="breadcrumb-item"><LinkTo @route="item" @model="2" class="waves-effect">Product2</LinkTo></li>
  </ol>
  <!-- Breadcrumbs -->

</nav>
<!-- Navbar -->

{{outlet}}